@font-face{
    font-family: 'Lato';
    src: url('assets/Lato.eot');
}
body{
    padding: 0;
    margin: 0 auto;
    width: 1020px;
  
}
.container{
    width: 940px;
    margin: 0 auto;

}
header{
    background-color: #2d303a;
    border-bottom: 7px solid rgb(73, 78, 98);
   
}
.logo__title{
    color:white;
    font-size: 25px;
    font-family: 'Lato';
    font-weight: bold;
   
}
.logo__title_sp{
    color:#f06c64;
}
.logo{
    padding-top:33px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

 }
.menu{
   display: flex;
   padding-top:25px;
}
.menu li{
    margin-right: 30px;
    font-size: 12px;
    font-weight: bold;
    list-style-type: disc; 
    color:rgb(73, 78, 98);
}
.menu li.active{
    list-style: none;
}
.menu li.active a{
    color:#f06c64;
}
.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lato';
    color:white;
    text-align: center;
    line-height: 42px;
    border-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0px;
}
.slider{
    background-color: #f06c64;
    padding: 50px 0 60px 0;
  
}
.slider__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
   
}
.Our_Services{
    padding-top:35px;
    background-color: #f2f2f2;
    border-bottom:5px solid #ffffff;
}
.services{
    font-family: 'Lato';
    font-size: 30px;
    color: #666d89;
    font-weight: bold;
    margin-bottom: 20px;
}
.services__text{
    font-family: 'Lato';
    font-size: 18px;
    color: #666d89;
    letter-spacing:1px;
    margin-bottom:20px;
}
.disk{
    border-radius: 13px;
    display: block;
    float: left;
    margin:35px 10px 0px 12px;
}
.disk2{
    display: block;
    float: left;
    margin:20px 20px 0px 5px;
}
.icons__title{
    font-size: 18px;
    font-family: 'Lato';
    color: #666d89;
    margin-bottom: 0px;
}
.icons__text{
    font-size: 12px;
    font-family: 'Lato';
    color: #666d89; 
}
.icons__items{
    width: 300px;
    margin-right: 20px;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.design{
    text-align: justify;
}
.border{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border:1.5px solid #666d89;
    position: relative;
    bottom:50px;
    right: 13px;
}
